:host {
  width: 100%;
}

.new-qp-card {
  width: 640px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;

  animation-name: slide-in-up;
  animation-duration: .225s;
}

@keyframes slide-in-up {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.remaining {
  padding-right: 1rem;
}

.congrats {
  font-size: 200%;
}

.space-right {
    margin-right: 1rem;
}

.qp-name {
  font-weight: 500;
}

.qp-price-btn {
  width: 100%;
}

.qp-finish-up {
  margin-bottom: 1rem;
}
