<div>
  <div class="top">
    <div class="brand spacer">
      <div class="wkw-name">Who Knows Who</div>
      Author's Corner
      <br />
      <div class="wkw-name grey-text">
        <a routerLink="/home/dashboard" class="blue-grey-text">Balance: {{ state.balance }}</a>
        &bull;
        <a class="click blue-grey-text" routerLink="/home/help">Help</a>
        &bull;
        <span class="click blue-grey-text " (click)="state.signout()">Signout</span>
      </div>
    </div>
    <div *ngIf="state.isAdmin()" class="spacer">
      <div class="heading">Question Packs Needing Review</div>
      <sidebar-qp *ngFor="let qp of state.getQuestionPacksNeedingReview()" [qp]="qp"></sidebar-qp>
    </div>
    <div class="heading">{{ state.getName() }}'s Question Packs</div>
    <sidebar-qp *ngFor="let qp of state.getQuestionPacks()" [qp]="qp"></sidebar-qp>
    <div class="btn blue-grey lighten-1 sidebar-btn" routerLink="/home/new">
      New Question Pack
    </div>
  </div>
</div>


