:host {
  flex: 1;
}

input.qp-name-input {
  font-size: 2rem;
}

.action-card {
  display: flex;
  justify-content: space-between;
}

.qp-price-btn {
  width: 100%;
}

.qp-finish-up {
  margin-bottom: 1rem;
}

.disabled-o {
  opacity: .5;
}

.space-right {
  margin-right: .5rem;
}
